<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="ngtest.day1">
      <methods>
      <include name="second"/>
      </methods>
      </class>
      <class name="ngtest.day2"/>
    </classes>
    </test>
    <test name= "car loan">
    <classes>
    <class name="ngtest.day3">
    <methods>
    <exclude name="MobileLoginCarlon"/>
   </methods>
    </class>
    </classes>
  </test> 
</suite> 
